#search-svg:hover #search-blue {
    fill: blue;
}

#search-blue {
    fill: rgb(255, 255, 255);
}

#contact-white-svg:hover #contact-white-circle {
    stroke: blue;
}

#contact-white-svg:hover #contact-white-path {
    fill: blue;
}

#contact-white-svg:hover #contact-white-path {
    fill: blue;
}

#Navbar.scrolled {
    background-color: #ffffff !important;
    transition: all 1s ease;
}

#Navbar.scrolled a:not(.navbar-icon) {
    color: rgb(0, 0, 0);
}

#Navbar.scrolled a:hover {
    color: blue;
}

#Navbar a:hover {
    color: blue;
}

#Navbar.scrolled #search-blue {
    fill: rgb(0, 0, 0);
}

#Navbar.scrolled #contact-white-circle {
    stroke: rgb(0, 0, 0);
}

#Navbar.scrolled #contact-white-path {
    fill: rgb(0, 0, 0);
}

#Navbar.scrolled #search-svg:hover #search-blue {
    fill: blue;
}

#Navbar.scrolled #contact-white-svg:hover #contact-white-path {
    fill: blue;
}

#Navbar.scrolled #contact-white-svg:hover #contact-white-circle {
    stroke: blue;
}

@media screen and (max-width: 768px) {
    #contact-white-circle {
        stroke: rgb(0, 0, 0);
    }
    #contact-white-path {
        fill: rgb(0, 0, 0);
    }
    #Navbar {
        background-color: red;
    }
}